<%= link_to('New Collection', new_collection_path) %>

  <% @collections.each do |collection| %>
    <ul>
      <li><%= link_to(collection.name, collection) %></li>
      <li>Description:  <%= collection.description %></li>
    </ul>
  <% end %>


